  
.header{


    color: red;
    &__icons img{
        width: 20px;
        margin-left: 18px;
    }

    &__search{
        right: 0;
    }


    @media (min-width: 576px) {
    

    }
    
    @media (min-width: 768px) {
    
    }
    
    @media (min-width: 992px) {
    
    }
    
    @media (min-width: 1200px) {
    
    }
    
    @media (min-width: 1400px) {

    }
    
    
}