

/* ==================== HOMEPAGE ==================== */


.hello{
    font-size: 500px;
}

.our-collections{

    img{
        height: 350px;
        object-fit: cover;
    }
}

@media (min-width: 992px) {
    .our-collections{

        img{
            height: 570px;
            object-fit: cover;
        }
    }
    
}

/* ==================== CONTACT ==================== */
