

/* ==================== HOMEPAGE ==================== */


.hello{
    font-size: 500px;
}

.our-collections{

    img{
        height: 350px;
        object-fit: cover;
    }
}

@media (min-width: 992px) {
    .our-collections{

        img{
            height: 570px;
            object-fit: cover;
        }
    }
    
}

/* ==================== CONTACT ==================== */


.about-us{
    img{
        object-fit: cover;
    }
}


.contact-us-form__checkbox{
    height: 25px; /* not needed */
    width: 25px;
    vertical-align: middle;
}