

/* ==================== HOMEPAGE ==================== */


.hello{
    font-size: 500px;
}

.our-collections{

    &__container{
        flex: 1 1 0;
    }

    img{
        height: 570px;
        object-fit: cover;
    }
}

/* ==================== CONTACT ==================== */
